.select-box {
    width: 29%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.select {
    width: 96%;
    margin-top: 10px;
    height: 40px;
    padding-left: 20px;
    background-color: #fafafa;
    border: 1px solid #808080;
    border-radius: 5px;
}
