.body-content {
    display: flex;
    padding: 30px;
}

.login-left {
    background-color: #83cfe4;
    /* background-color: red; */
    width: 50%;
    height: 94vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-image-container {
    width: 70%;
    height: 70%;
}

.login-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
}

.content {
    width: 55%;
}

.form-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.input-box-btn {
    border: none;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
    color: #2c65b9;
    background-color: #ffffff;
    text-decoration: underline;
    font-size: medium;
}

label.error-label {
    color: #ff0000;
    background-color: #ffa3a3;
    padding: 5px;
    margin-bottom: 5px;
}

.checkbox-group {
    display: flex;
    gap: 10px;
    padding :5px;
}

.login-btn {
    background-color: #03aeee;
    border: none;
    color: white;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 10px;
    height: 50px;
    z-index: 3;
}

.login-btn:disabled {
    background-color: grey;
}

.input-page-logo {
    width: 50%;
    margin-left: 10px;
}

.login-error-text {
    color: #e74c3c; 
    margin-top: 4px;
    font-weight: 800;
  }
  

