.employee-details-body {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  gap: 20px;
}

.details-card {
    display: flex;
    flex-direction: column;
    margin: 10px 30px 10px 20px;
}

.details-card-title {
    color: #8b8d9d;
    font-size: large;
}

.details-card-subtitle {
    color: #27282c;
    margin-top: 8px;
    max-width: 100px;
    display: inline-block;
}
