.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > * {
    width: 30%;
}

.formContent {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

.address {
    display: flex;
    flex-direction: column;
}

.create-employee-buttons {
    display: flex;
}
